table, th, td {
    border: 1px solid black;
    font-family:'Times New Roman', Times, serif;
    font-weight: 400;
}
tr:nth-child(1) th{
    font-weight: 700;
}
th:first-child{
    text-align: left;
}
th, td{
    padding: 0.5rem;
}
