*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body::after { 
    content: ""; 
    background-image: url("media/bg.PNG");
    height: 100%;
    background-position: center; 
    background-size: cover;
    filter: blur(1rem); 
    top: 0;
    left: 0; 
    bottom: 0; 
    right: 0; 
    position: absolute; 
    z-index: -1; 
}
header{
    display: block;
    text-align: center;
    color: white;
}
main{
    display: flex;
    justify-content: center;
    position: relative;
}
nav > ul{
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 1rem;
    font-size: 1.3rem;
}
nav > ul > li{
    display: inline-block;
    font-weight: 500;
}
h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1rem;
    letter-spacing: 1rem;
    font-size: 2.5rem;
}
footer{
    position: sticky;
    top: 100%;
    text-align: center;
    color: gray;
    padding: 1rem;
    font-size: 0.8rem;
    font-style: italic;
}
a:link{
    text-decoration: none;
    color: white;
    transition: 0.1s;
}
a:visited{
    color: white;
}
a:hover{
    color: gray;
}
nav > ul > li:hover{
    transform: scale(1.05);
}
.content{
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content:nth-child(2){
    top:50%;
}
.back, .next{
    display: block;
    cursor: pointer;
    position: fixed;
    top: 45%;
    width: auto;
    padding: 1rem;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    user-select: none;
    -webkit-user-select: none;
}
.back{
    right: 70%;
}
.next{
    right: 27%;
}