*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    min-width: 100vw;
    min-height: 100vh;
}
header{
    display: block;
    color: #FFFFFF;
    background-color: #17072b;
    padding: 1.5rem;
    text-align: center;
}
h1, h2{
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}
nav ul{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
nav ul > li{
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: inline;
    font-size: 1.25rem;
}
main{
    display: flex;
    justify-content: center;
}
footer{
    display: block;
    background-color: #8c15e9;
    color: #FFFFFF;
    text-align: center;
    padding: 0.1rem;
}
.container{
    margin: 1rem;
    height: auto;
}
.container:nth-child(1) > img{
    height: 325px;
    width: 650px;
}
.container:nth-child(1) > p{
    width: 625px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.container:nth-child(2){
    background-color: #172d67;
    padding: 1.5rem;
    color: white;
    height: auto;
}
.container:nth-child(2) > ul li{
    list-style-type: none;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.container:nth-child(2) > ul li::before{
    content: "-";
}
.lineupcontent{
    display: flex;
    margin-top: 3rem;
    gap: 0.5rem;
}
.lineupcontent > img{
    height: 200px;
    width: 200px;
}
a:link{
    text-decoration: none;
    color: white;
}
a:visited{
    color: white;
}
a:hover{
    color: gray;
}